@using ThalesPrueba.Data;
@model List<Employee>


<h1>Search Employee</h1>

<form method="get">
    <label for="id">ID:</label>
    <input type="text" name="id" id="id" />
    <button type="submit">Buscar</button>
</form>


@if (Model != null)
{
    <h2>Results:</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Annual Salary</th>
                <th>Salary</th>
                <th>Age</th>
                <th>Profile Image</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employe in Model)
            {
                <tr>
                    <td>@employe.Id</td>
                    <td>@employe.employee_name</td>
                    <td>@employe.AnnualSalary</td>
                    <td>@employe.employee_salary</td>
                    <td>@employe.employee_age</td>
                    <td><img src="@employe.profile_image" alt="Profile Image" /></td>
                </tr>
            }
            
        </tbody>
    </table>
}
